@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply antialiased;
    }

    body {
        font-family: 'Space Mono', monospace;
        @apply overflow-x-hidden;
    }
}

@layer utilities {

    /* Utilidades para el logo y tipografía */
    .font-serif {
        font-family: Georgia, 'Times New Roman', serif;
    }

    @keyframes desplazamiento-marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .marquee {
        animation-name: desplazamiento-marquee;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}